</div>
</div>
</div>

<!-- End Custom template -->
</div>
<!--   Core JS Files   -->
<script src="/public/js/core/jquery-3.7.1.min.js"></script>
<script src="/public/js/core/popper.min.js"></script>
<script src="/public/js/core/bootstrap.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="/public/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

<!-- jQuery Vector Maps -->
<script src="/public/js/plugin/jsvectormap/jsvectormap.min.js"></script>
<script src="/public/js/plugin/jsvectormap/world.js"></script>

<!-- Sweet Alert -->
<script src="/public/js/plugin/sweetalert/sweetalert.min.js"></script>

<!-- Kaiadmin JS -->
<script src="/public/js/kaiadmin.min.js"></script>
</body>
</html>
