</div>
</div>
</div>

<!-- End Custom template -->
</div>
<script>
    document.getElementById("report-logo-form").addEventListener("submit", (e) => {
        const fileInput = document.getElementById("formFile");
        const fileInputFeedback = document.getElementById("formFeedback");
        const maxSize = 2 * 1024 * 1024

        if (fileInput.files.length === 0) {
            e.preventDefault();
            fileInput.classList.add("is-invalid");
            fileInputFeedback.textContent = "Please upload a file before submitting the form.";
        } else {
            const file = fileInput.files[0];
            const allowedTypes = ['image/jpeg', 'image/png'];

            if (!allowedTypes.includes(file.type)) {
                e.preventDefault();
                fileInput.classList.add("is-invalid");
                fileInputFeedback.textContent = "Please select a valid image file (JPEG, PNG).";
            } else if (file.size > maxSize) {
                e.preventDefault();
                fileInput.classList.add("is-invalid");
                fileInputFeedback.textContent = "File size exceeds the 2MB limit.";
            } else {
                fileInput.classList.remove("is-invalid");
                fileInputFeedback.textContent = "";
            }
        }
    })
</script>

<!--   Core JS Files   -->
<script src="/public/js/core/jquery-3.7.1.min.js"></script>
<script src="/public/js/core/popper.min.js"></script>
<script src="/public/js/core/bootstrap.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="/public/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

<!-- jQuery Vector Maps -->
<script src="/public/js/plugin/jsvectormap/jsvectormap.min.js"></script>
<script src="/public/js/plugin/jsvectormap/world.js"></script>

<!-- Sweet Alert -->
<script src="/public/js/plugin/sweetalert/sweetalert.min.js"></script>

<!-- Kaiadmin JS -->
<script src="/public/js/kaiadmin.min.js"></script>

</body>
</html>
