<%- include('../partial/header', {projects, activeProject, activeScenario}) %>

<div class="text-center">
    <span class="fs-1 fw-bold">TEST AUTOMATION REPORTING SYSTEM</span>
</div>

<% fileRecords = [{}] %>

<%- include('../partial/footer'), {fileRecords} %>