<%- include('../partial/error-header') %>

<div class="text-center">
    <span class="fs-1 fw-bold"><%= status %> <%= message %></span>
</div>

<% fileRecords = [{}] %>

<%- include('../partial/footer'), {fileRecords} %>